<h1>Admin::EndUsers#index</h1>
<p>Find me in app/views/admin/end_users/index.html.erb</p>
<table class="table table-hover tablr-inverse">
	 		<thead>
	 			<tr>
	 				<th></th>
	 				<th>title</th>
	 				<th>opinin</th>
	 				<th colspan="3">アカウント　ログイン</th>
	 			</tr>
	 		</thead>
	 		<tbody>
	 			 <% @end_users.each do |user| %>

	 			<tr>
	 				<td> <%=user.surname %></td>
	 				<td><%= user.name %></td>
                    <td> <%=user.email %></td>
　　　　　　　　　　<% if user.deleted_at == nil %>
                     <td>〇</td>
                    <%end%> 

	 			</tr>
	 			<% end %> 
	 		</tbody>
	 	</table>