
<table class="table table-hover tablr-inverse">
	 		<thead>
	 			<tr>
	 				<th></th>
	 				<th>名前</th>
	 				<th>e-mail</th>
	 				<th>アカウント　ログイン</th>
					 <th></th>

	 			</tr>
	 		</thead>
	 		<tbody>
	 			 <% @end_users.each do |user| %>

	 			<tr>
	 				<td> <%=user.surname %></td>
	 				<td><%= user.name %></td>
                    <td> <%=user.email %></td>
　　　　　　　　　　<% if user.deleted_at == nil %>
                     <td>〇</td>
					<% else %>
					  <td>×</td>
                    <%end%> 
                    <td><%= link_to "アカウント削除", admin_path(user.id), data: { confirm: "退会させますか?" }, method: :delete %></td>

	 			</tr>
	 			<% end %> 
	 		</tbody>
	 	</table>